## Dapatkan Data dari GDELT dengan bigQuery

In [ ]:
SELECT string(MonthYear) MonthYear, EventRootCode, QuadClass , c AS CountEvent, INTEGER(norm*100000)/1000 Intensity, SumNumArticles, RerataAvgTone
FROM (
SELECT ActionGeo_CountryCode, QuadClass, EventRootCode, MonthYear, SUM(NumArticles) AS SumNumArticles, AVG(AvgTone) AS RerataAvgTone, COUNT(1) AS c, RATIO_TO_REPORT(c) OVER(PARTITION BY MonthYear ORDER BY c DESC) norm FROM [gdelt-bq:full.events]
WHERE ActionGeo_CountryCode='ID' AND Year BETWEEN 1999 AND 2018
GROUP BY ActionGeo_CountryCode, EventRootCode, MonthYear, QuadClass 
)
ORDER BY ActionGeo_CountryCode, EventRootCode, MonthYear;

In [ ]:
SELECT string(MonthYear) MonthYear, EventRootCode, QuadClass , CountEventNegativeTone, CountEventPositiveTone, SumNumNegativeArticle, SumNumPositiveArticle
FROM (
SELECT ActionGeo_CountryCode, QuadClass, EventRootCode, MonthYear, COUNT(CASE WHEN AvgTone < 0 THEN 1 ELSE null END) AS CountEventNegativeTone,COUNT(CASE WHEN AvgTone >= 0 THEN 1 ELSE null END) AS CountEventPositiveTone, SUM(CASE WHEN AvgTone < 0 THEN IFNULL(NumArticles,0) ELSE 0 END) AS SumNumNegativeArticle, SUM(CASE WHEN AvgTone >= 0 THEN IFNULL(NumArticles,0) ELSE 0 END) AS SumNumPositiveArticle FROM [gdelt-bq:full.events]
WHERE ActionGeo_CountryCode='ID' AND Year BETWEEN 1999 AND 2018
GROUP BY ActionGeo_CountryCode, EventRootCode, MonthYear, QuadClass 
)
ORDER BY ActionGeo_CountryCode, EventRootCode, MonthYear;

## transform data 
buat satu dataset dengan variabel variabel yang akan diteliti
apakah ada hubungan antara variabel nilai ekspor impor dengan sentiment dunia, jumlah artikel yang dipublish, jumlah artikel negatif, jumlah artikel positif, jumlah event dengan sentiment negatif, jumlah event dengan sentiment positif, jumlah event dalam kategori VerbalCooperation, jumlah event dalam kategori Material Cooperation, jumlah event dalam kategori conflict baik verbal maupun material, dan jumlah event yang berkaitan dengan klasifikasi taksonomi CAMEO

In [ ]:
SELECT e.MonthYear,
	e.nilai_ekspor,
	e.nilai_impor,
	g1.AvgTone,
	g1.NumArticle,
	g1.NumNegativeArticle,
	g1.NumPositiveArticle,
	g1.CountEventNegativeTone,
	g1.CountEventPositiveTone,
	g1.CountEventVerbalCooperation,
	g1.CountEventMaterialCooperation,
	g1.CountEventVerbalConflict,
	g1.CountEventMaterialConflict,
	g1.CountEvent01,
	g1.CountEvent02,
	g1.CountEvent03,
	g1.CountEvent04,
	g1.CountEvent05,
	g1.CountEvent06,
	g1.CountEvent07,
	g1.CountEvent08,
	g1.CountEvent09,
	g1.CountEvent10,
	g1.CountEvent11,
	g1.CountEvent12,
	g1.CountEvent13,
	g1.CountEvent14,
	g1.CountEvent15,
	g1.CountEvent16,
	g1.CountEvent17,
	g1.CountEvent18,
	g1.CountEvent19,
	g1.CountEvent20
FROM
(
	SELECT (CASE WHEN LENGTH(bulan) = 1 THEN CONCAT(tahun,'0',bulan) ELSE CONCAT(tahun,bulan) END) AS MonthYear, nilai_ekspor, nilai_impor
	FROM tabel_eksim
)e
LEFT JOIN
(
	SELECT MonthYear,AVG(RerataAvgTone) AS AvgTone, SUM(SumNumArticles) AS NumArticle,
				SUM(SumNumNegativeArticle) AS NumNegativeArticle,
				SUM(SumNumPositiveArticle) AS NumPositiveArticle,
				SUM(CountEventNegativeTone) AS CountEventNegativeTone,
				SUM(CountEventPositiveTone) AS CountEventPositiveTone,
				SUM(CASE WHEN QuadClass = 1 THEN CountEvent ELSE 0 END) AS CountEventVerbalCooperation,
				SUM(CASE WHEN QuadClass = 2 THEN CountEvent ELSE 0 END) AS CountEventMaterialCooperation,
				SUM(CASE WHEN QuadClass = 3 THEN CountEvent ELSE 0 END) AS CountEventVerbalConflict,
				SUM(CASE WHEN QuadClass = 4 THEN CountEvent ELSE 0 END) AS CountEventMaterialConflict,
				SUM(CASE WHEN EventRootCode = '01' THEN CountEvent ELSE 0 END) AS CountEvent01,
				SUM(CASE WHEN EventRootCode = '02' THEN CountEvent ELSE 0 END) AS CountEvent02,
				SUM(CASE WHEN EventRootCode = '03' THEN CountEvent ELSE 0 END) AS CountEvent03,
				SUM(CASE WHEN EventRootCode = '04' THEN CountEvent ELSE 0 END) AS CountEvent04,
				SUM(CASE WHEN EventRootCode = '05' THEN CountEvent ELSE 0 END) AS CountEvent05,
				SUM(CASE WHEN EventRootCode = '06' THEN CountEvent ELSE 0 END) AS CountEvent06,
				SUM(CASE WHEN EventRootCode = '07' THEN CountEvent ELSE 0 END) AS CountEvent07,
				SUM(CASE WHEN EventRootCode = '08' THEN CountEvent ELSE 0 END) AS CountEvent08,
				SUM(CASE WHEN EventRootCode = '09' THEN CountEvent ELSE 0 END) AS CountEvent09,
				SUM(CASE WHEN EventRootCode = '10' THEN CountEvent ELSE 0 END) AS CountEvent10,
				SUM(CASE WHEN EventRootCode = '11' THEN CountEvent ELSE 0 END) AS CountEvent11,
				SUM(CASE WHEN EventRootCode = '12' THEN CountEvent ELSE 0 END) AS CountEvent12,
				SUM(CASE WHEN EventRootCode = '13' THEN CountEvent ELSE 0 END) AS CountEvent13,
				SUM(CASE WHEN EventRootCode = '14' THEN CountEvent ELSE 0 END) AS CountEvent14,
				SUM(CASE WHEN EventRootCode = '15' THEN CountEvent ELSE 0 END) AS CountEvent15,
				SUM(CASE WHEN EventRootCode = '16' THEN CountEvent ELSE 0 END) AS CountEvent16,
				SUM(CASE WHEN EventRootCode = '17' THEN CountEvent ELSE 0 END) AS CountEvent17,
				SUM(CASE WHEN EventRootCode = '18' THEN CountEvent ELSE 0 END) AS CountEvent18,
				SUM(CASE WHEN EventRootCode = '19' THEN CountEvent ELSE 0 END) AS CountEvent19,
				SUM(CASE WHEN EventRootCode = '20' THEN CountEvent ELSE 0 END) AS CountEvent20
	FROM gdelt_events_aggregate
	GROUP BY MonthYear
)g1
ON e.MonthYear = g1.MonthYear

## Cleaning Data

In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'group_project'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

In [2]:
# get data
df = run("SELECT * FROM gdelt_transform_variabel")
df.head()

,MonthYear,nilai_ekspor,nilai_impor,AvgTone,NumArticle,NumNegativeArticle,NumPositiveArticle,CountEventNegativeTone,CountEventPositiveTone,CountEventVerbalCooperation,...,CountEvent11,CountEvent12,CountEvent13,CountEvent14,CountEvent15,CountEvent16,CountEvent17,CountEvent18,CountEvent19,CountEvent20
0,199901,3.017850e+09,1.772190e+09,4.48447,27813.0,0.0,27813.0,0.0,4815.0,2530.0,...,296.0,158.0,66.0,81.0,47.0,47.0,318.0,180.0,483.0,7.0
1,199902,3.194990e+09,1.808710e+09,4.65879,29952.0,0.0,29952.0,0.0,5497.0,3420.0,...,283.0,215.0,109.0,64.0,50.0,53.0,211.0,74.0,437.0,0.0
2,199903,3.952970e+09,1.976420e+09,4.46642,36529.0,0.0,36529.0,0.0,6691.0,3913.0,...,307.0,201.0,65.0,156.0,74.0,54.0,284.0,136.0,794.0,3.0
3,199904,3.886120e+09,2.121890e+09,4.59195,35224.0,0.0,35224.0,0.0,6702.0,3810.0,...,421.0,221.0,164.0,122.0,48.0,29.0,261.0,189.0,922.0,34.0
4,199905,4.041270e+09,1.959120e+09,5.27258,34705.0,0.0,34705.0,0.0,6290.0,3585.0,...,366.0,196.0,103.0,153.0,43.0,62.0,230.0,200.0,582.0,11.0

In [3]:
df.describe()

,nilai_ekspor,nilai_impor,AvgTone,NumArticle,NumNegativeArticle,NumPositiveArticle,CountEventNegativeTone,CountEventPositiveTone,CountEventVerbalCooperation,CountEventMaterialCooperation,...,CountEvent11,CountEvent12,CountEvent13,CountEvent14,CountEvent15,CountEvent16,CountEvent17,CountEvent18,CountEvent19,CountEvent20
count,2.400000e+02,2.400000e+02,239.000000,2.390000e+02,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,...,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000
mean,1.008460e+10,8.590909e+09,2.970250,1.268709e+05,57439.163180,69431.702929,3617.016736,9956.439331,8428.907950,1480.288703,...,759.384937,312.757322,194.271967,134.259414,70.154812,124.083682,890.924686,208.460251,761.401674,3.644351
std,4.466817e+09,5.214495e+09,2.952155,1.557104e+05,139083.408853,66268.013524,7924.146104,6157.252767,6405.337716,1191.075535,...,508.940094,256.488700,145.224476,130.575261,55.398149,135.722318,685.049562,204.039885,473.273241,6.237178
min,0.000000e+00,0.000000e+00,-3.905430,3.382000e+03,0.000000,3333.000000,0.000000,1330.000000,1297.000000,218.000000,...,163.000000,41.000000,30.000000,7.000000,6.000000,11.000000,144.000000,30.000000,154.000000,0.000000
25%,5.290320e+09,3.340072e+09,2.253195,2.834200e+04,0.000000,27944.000000,0.000000,5732.000000,3337.000000,517.000000,...,358.000000,135.500000,88.000000,51.500000,36.500000,47.500000,340.500000,86.500000,419.500000,0.000000
50%,1.017190e+10,8.749000e+09,4.539750,4.423000e+04,0.000000,43762.000000,0.000000,7866.000000,5226.000000,927.000000,...,557.000000,225.000000,153.000000,110.000000,57.000000,83.000000,663.000000,156.000000,656.000000,2.000000
75%,1.430285e+10,1.318082e+10,4.829350,1.718550e+05,844.000000,97533.000000,29.500000,13629.000000,12380.000000,2187.000000,...,1057.000000,407.500000,247.500000,168.000000,81.000000,151.000000,1262.500000,246.000000,996.000000,5.000000
max,1.864780e+10,1.829710e+10,5.397680,1.022104e+06,916718.000000,510573.000000,41323.000000,37099.000000,34374.000000,5981.000000,...,3100.000000,1946.000000,949.000000,1160.000000,454.000000,1123.000000,4472.000000,1354.000000,3527.000000,51.000000

### Cek adanya missing value

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 33 columns):
MonthYear                        240 non-null object
nilai_ekspor                     240 non-null float64
nilai_impor                      240 non-null float64
AvgTone                          239 non-null float64
NumArticle                       239 non-null float64
NumNegativeArticle               239 non-null float64
NumPositiveArticle               239 non-null float64
CountEventNegativeTone           239 non-null float64
CountEventPositiveTone           239 non-null float64
CountEventVerbalCooperation      239 non-null float64
CountEventMaterialCooperation    239 non-null float64
CountEventVerbalConflict         239 non-null float64
CountEventMaterialConflict       239 non-null float64
CountEvent01                     239 non-null float64
CountEvent02                     239 non-null float64
CountEvent03                     239 non-null float64
CountEvent04                     239 non-null float64
CountEvent05                     239 non-null float64
CountEvent06                     239 non-null float64
CountEvent07                     239 non-null float64
CountEvent08                     239 non-null float64
CountEvent09                     239 non-null float64
CountEvent10                     239 non-null float64
CountEvent11                     239 non-null float64
CountEvent12                     239 non-null float64
CountEvent13                     239 non-null float64
CountEvent14                     239 non-null float64
CountEvent15                     239 non-null float64
CountEvent16                     239 non-null float64
CountEvent17                     239 non-null float64
CountEvent18                     239 non-null float64
CountEvent19                     239 non-null float64
CountEvent20                     239 non-null float64
dtypes: float64(32), object(1)
memory usage: 62.0+ KB

dapat dilihat bahwa seharusnya ada 240 baris namun ada beberapa variabel yang tidak ada nilainya untuk bulan tertentu dilihat dari jumlah baris non-null nya < 240, maka untuk baris/bulan yang null akan dikeluarkan dari data

In [5]:
#Removing all null values row
df = df.dropna(subset=['AvgTone', 'NumArticle', 'NumNegativeArticle', 'NumPositiveArticle', 'CountEventNegativeTone', 'CountEventPositiveTone','CountEventVerbalCooperation','CountEventMaterialCooperation','CountEventVerbalConflict','CountEventMaterialConflict','CountEvent01','CountEvent02','CountEvent03','CountEvent04','CountEvent05','CountEvent06','CountEvent07','CountEvent08','CountEvent09','CountEvent10','CountEvent11','CountEvent12','CountEvent13','CountEvent14','CountEvent15','CountEvent16','CountEvent17','CountEvent18','CountEvent19','CountEvent20'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 238
Data columns (total 33 columns):
MonthYear                        239 non-null object
nilai_ekspor                     239 non-null float64
nilai_impor                      239 non-null float64
AvgTone                          239 non-null float64
NumArticle                       239 non-null float64
NumNegativeArticle               239 non-null float64
NumPositiveArticle               239 non-null float64
CountEventNegativeTone           239 non-null float64
CountEventPositiveTone           239 non-null float64
CountEventVerbalCooperation      239 non-null float64
CountEventMaterialCooperation    239 non-null float64
CountEventVerbalConflict         239 non-null float64
CountEventMaterialConflict       239 non-null float64
CountEvent01                     239 non-null float64
CountEvent02                     239 non-null float64
CountEvent03                     239 non-null float64
CountEvent04                     239 non-null float64
CountEvent05                     239 non-null float64
CountEvent06                     239 non-null float64
CountEvent07                     239 non-null float64
CountEvent08                     239 non-null float64
CountEvent09                     239 non-null float64
CountEvent10                     239 non-null float64
CountEvent11                     239 non-null float64
CountEvent12                     239 non-null float64
CountEvent13                     239 non-null float64
CountEvent14                     239 non-null float64
CountEvent15                     239 non-null float64
CountEvent16                     239 non-null float64
CountEvent17                     239 non-null float64
CountEvent18                     239 non-null float64
CountEvent19                     239 non-null float64
CountEvent20                     239 non-null float64
dtypes: float64(32), object(1)
memory usage: 63.5+ KB