## Looping

In [1]:
#sintax for
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
#sintax for
for i in range(0,10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [5]:
for i in range(0,10,2): #parameter yang terakhir itu utk step atau skip
    print(i,i**2)

0 0
2 4
4 16
6 36
8 64

In [4]:
#sintax while
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#sintax while
i = 0
while i<10:
    print(i)
    i = i + 2 #kalau mau pake step/skip kyk di parameter ketika dari sintaks for maka i nya plus mau skip berapa

## LIST

In [7]:
#dapat berisi angka
nilai = [30, 40, 50, 60 , 70, 80, 90]
print(nilai)

#dapat berisi string
peserta = ['Ani', 'Budi', 'Catra', 'Desi']
print(peserta)

#dapat berisi campuran tipedata, namun pada umumya nilai yang disimpan dalamsatu list akan mempunyai tipe data  yang sama
campuran = ['Big', 2.5, 90, 'Data']
print(campuran)

[30, 40, 50, 60, 70, 80, 90]
['Ani', 'Budi', 'Catra', 'Desi']
['Big', 2.5, 90, 'Data']

## List Index
python akan memberikan index pada nilai uang disimpan pada list, index digunakan untuk mengakses nilai dari suatu list
jika indexnya minus (misal -1) berarti menghitungnya dari belakang, list dalam python dimulai dari index 0

In [11]:
print(nilai[0])
print(nilai[-1])

30
20

## Menambah elemen ke dalam list
gunakan fungsi ### append
jika untuk 1 nilai
untuk menambahkan multiple value sekaligus gunakan ### extend

In [12]:
nilai.append(40)
nilai.append(20)
print(nilai)
nilaitambah = [100, 10, 30]
nilai.extend(nilaitambah)
print(nilai)

[30, 40, 50, 60, 70, 80, 90, 40, 20, 40, 20]
[30, 40, 50, 60, 70, 80, 90, 40, 20, 40, 20, 100, 10, 30]

## Slicing list
get subset dari sebuah list
nilai[startindex (include):end(endindex not included)]

In [17]:
nilai = [30, 40, 50, 60, 70, 80, 90]
print(nilai)

# elemen ke 3 sam pai ke 5
print(nilai[2:5])

# mengambil subset dari list dikurangi 2 element terakhir
print(nilai[:-2])

# mengambil subset dari index ke lima
print(nilai[5:])

#
print(nilai[:])

[30, 40, 50, 60, 70, 80, 90]
[50, 60, 70]
[30, 40, 50, 60, 70]
[80, 90]
[30, 40, 50, 60, 70, 80, 90]

## Perulangan dalam list

In [19]:
for n in nilai:
    print(n)
    
#mengikutkan indeksnya
print('\ndituliskan juga indexnya')
for i,n in enumerate(nilai):
    print(i,n)

30
40
50
60
70
80
90

dituliskan juga indexnya
0 30
1 40
2 50
3 60
4 70
5 80
6 90

Contoh
Berapakah rata-rata nilai dari list tersebut?

In [21]:
total = 0
for n in nilai:
     total = total + n
        
print('total=', total)
print('banyak data=', len(nilai))
average = total/len(nilai)
print(average)

total= 420
banyak data= 7
60.0

## Lookup Nilai dalam List

In [25]:
n = 92
# n = 90
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

92 tidak ada dalam list

Latihan:

tugas = ['66', '77', '88', '99', '55', '54']
Tampilkan nilai dari list tugas yang Genap

tugas = [66, 77, 88, 99, 55, 54]
tugas_genap = []

for n in tugas:
    if n%2 == 0:
        tugas_genap.append(n)

print(tugas_genap)

tugas_ganjil = []
for n in tugas:
    if n%2 != 0: # atau bisa if n%2 == 1
        tugas_genap.append(n)

## Tuple
bersifat sama dengan list namun immutable artinya fixed ga bisa diubah-ubah, ga bisa ditambah ga bisa dihapus elementnya juga, diupdate nilainya pun juga ga bisa. Keuntungannya untuk akses elemen di dalam tuple itu lebih cepat dari pada akses elemen di dalam list
deklarasi untuk tuple menggunakan kurung ()
untuk operasi, slicing dan akses elementnya caranya sama dengan list

In [29]:
# Deklarasi Tuple
bulan = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

## Dictionary
pada dasarnya sama menyimpan beberapa sekaligus dalam satu variabel. Bedanya klo dictionary nyimpan nya dalam pasangan key : value, item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal {}

In [31]:
siswa = {'Nama': 'Budi', 'Umur':7, 'JenisKelamin': 'Laki-laki'}
siswa2 = {'Nama': 'Ani', 'Umur':8, 'JenisKelamin': 'Perempuan'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)
print(list_siswa)
print(list_siswa[0])
print(list_siswa[1])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-laki'}
Budi
7
Laki-laki
[{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-laki'}, {'Nama': 'Ani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}]
{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-laki'}
{'Nama': 'Ani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}

### Menggubah nilai dictionary

In [32]:
siswa['Nama'] = 'Deni'
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'JenisKelamin': 'Laki-laki'}

### Menambahkan Element

In [33]:
siswa['Alamat'] = 'Jl. Kaliurang KM 5'
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'JenisKelamin': 'Laki-laki', 'Alamat': 'Jl. Kaliurang KM 5'}

In [35]:
#Lst sebagai nilai dari elemen Dictionary
siswa['Nilai'] = nilai
print(siswa)

for n in siswa['Nilai']:
    print(n)

{'Nama': 'Deni', 'Umur': 7, 'JenisKelamin': 'Laki-laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [30, 40, 50, 60, 70, 80, 90]}
30
40
50
60
70
80
90

In [38]:
for l in list_siswa:
    print('===================================================')
    for k, v in l.items():
        print(k,v)

===================================================
Nama Deni
Umur 7
JenisKelamin Laki-laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90]
===================================================
Nama Ani
Umur 8
JenisKelamin Perempuan

## Operasi String

### Slicing dan Akses per Karakter
kita bisa anggap string sebagai list of character

In [40]:
nama = 'Tutorial Bahasa Pemrograman Python'
print(nama[0:6])
print(nama[20:30])
print(nama[-6:])

Tutori
ograman Py
Python

In [ ]:
for n in nama:
    print(n)

### Merubah String menjadi list Kata
klo di text mining namanya tokenisasi

In [43]:
kata = nama.split() # split tanpa parameter maka default pemisahnya adalah space (spasi)
print(kata)
print(kata[0])
print(kata[2])

paragraf = 'Pada hari minggu kuturut ayah ke kota. Naik delman istimewa kududuk di muka kududuk samping pak kusir yang sedang bekerja'
kalimat = paragraf.split('.')
print(kalimat)
print(kalimat[-1])

for k in kalimat:
    print(k.strip().split()) #strip() digunakan untuk menghilangkan spasi di awal dan akhir sebuah element

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada hari minggu kuturut ayah ke kota', ' Naik delman istimewa kududuk di muka kududuk samping pak kusir yang sedang bekerja']
 Naik delman istimewa kududuk di muka kududuk samping pak kusir yang sedang bekerja
['Pada', 'hari', 'minggu', 'kuturut', 'ayah', 'ke', 'kota']
['Naik', 'delman', 'istimewa', 'kududuk', 'di', 'muka', 'kududuk', 'samping', 'pak', 'kusir', 'yang', 'sedang', 'bekerja']

### Pencarian kata dalam String

In [49]:
# cari = 'Python'
cari = 'Pythonn'
if cari in nama:
    print('Found!')
else:
    print('Not Found!')

Not Found!

### Replace String

In [50]:
paragraf = 'pd hr ini saya bljr'
paragraf = paragraf.replace('pd', 'pada')
paragraf = paragraf.replace('hr', 'hari')
paragraf = paragraf.replace('bljr', 'belajar')
print(paragraf)

pada hari ini saya belajar

### Panjang String, Lowercase, Uppercase
catatan: untuk analisa text mining nantinya akan lebih baik kalau diseragamin dulu hurufnya menjadi lowercase smw/uppercase smw

In [51]:
print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python